body{
    text-align: center;
    font-family: 'Trebuchet MS';
}

.outer{
    float:left;
    border:1px black solid;
    width: 290px;
}
.one{
    margin:10px;
    border:1px black solid;
    Width:100px;
    float:left;
    padding: 10px;
}
.two{
    margin:10px;
    border:1px black solid;
    Width:100px;
    float:left;
    padding: 10px;
}
