body{
    background-color: rgb(200, 215, 255);
    font-family: 'Trebuchet MS';
    margin:0;
}

.outer{
    border-top: 5px solid rgb(37, 37, 37);
    background-color: rgb(58, 58, 58);
    float:left;
    width: 100%;
    box-shadow: 0px 2px 5px 1px rgb(0, 0, 0);
}

.logo{
    Width:20%;
    float:left;
    padding-left: 10px;
}

ul{
    display: flex;
    float: right;
}

ul li{
    list-style-type: none;
}

.buttons{
    Width:73%;
    float:Right;
    padding-left: 10px;
    margin-right: 10px;
}
.button{
    padding: 10px;
    text-decoration: none;
    margin-left: 10px;
    color: rgb(185, 185, 185);
}

.button:hover{
    color: rgb(219, 219, 219);
}

.current{
    color: rgb(255, 255, 255);
    border-bottom: 2px Solid rgb(255, 255, 255);
}
