body{
    background-color: rgb(199, 247, 219);
    font-family: 'Trebuchet MS';
    margin:0;
}

.outer{
    background-color: rgb(24, 24, 24);
    float:left;
    width: 100%;
    box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.637);
}

.logo{
    Width:20%;
    float:left;
    padding: 10px;
}

ul{
    display: flex;
    float: right;
}

ul li{
    list-style-type: none;
}

.buttons{
    Width:73%;
    float:Right;
    padding: 10px;
}
.button{
    padding: 10px;
    text-decoration: none;
    color: rgb(77, 202, 224);
    margin-left: 20px;
    font-weight:bold;
}

.button:hover{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.103);
}

.current{
    color: rgb(255, 29, 29);
}
